
body {
    background-color: #ffffff;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}


.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #6FB048;
}

h2,
 {
    font-family: 'robotolight';
    font-weight: 300;
    margin: 0;
}
h4,
 {
    font-family: 'robotolight';
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: .9rem;
	font-family: 'robotolight';

}


h4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}


p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}


.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


.separator {
    height: 1px;
    width: 70px;
    margin:10px auto;
    background: #6FB048;
    margin-bottom: 40px;	
}


.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 30px;
    font-size: 1.8rem;
    border-radius: 30px;
}
.btn-md,
.btn-group-md > .btn {
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
}

.btn-primary {
    color: #ffffff;
}


.btn-default {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: transparent;
	font-family: 'montserratregular';
}
.btn-default:before,
.btn-default:after {
    background-color: #ffffff;
}
btn-default:focus {
    background-color: #ffffff;
    border-color: transparent;
}
.btn-default:hover {
    border-color: #ffffff;
    color: #6FB048;
    background-color: #ffffff;
}
.btn-primary {
    background-color: #83a7a5;
    color: #ffffff;
    border: 0px solid #6FB048;
	font-family: 'montserratregular';
}
.btn-primary:before,
.btn-primary:after {
    background-color: #6FB048;
}
.btn-primary:focus {
    background-color: #6FB048;
    border-color: transparent;
}
.btn-primary:hover {
    border-color: transparent;
    background-color: #6FB048;
    color: #fff;
}

.btn-md{
	max-width:188px;
	max-height:50px;
	background-color:#6FB048;
	border:0px;
	font-family: 'montserratregular';
}
.btn-md:hover{
	background-color:#69bc37;
	color:#fff;
}
.btn-sm{
	max-width:145px;
	max-height:45px;
	font-family: 'montserratregular';
}
.btn-larg{
	max-width:295px;
	max-height:50px;
	background-color:#6FB048;
	border-radius:5px;
	border:0px solid;
	font-family: 'montserratregular';
}



h1 span {
    color: #f56363;
    font-weight: 400;
}


.head_bg{
	background:transparent;
}


h2.title_border{
    position:relative;
}

h2.title_border:before{
    border-bottom:1px solid #6FB048;
    width:70px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    background:red;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
	font-size:14px;
	font-family: 'montserratregular';
}

.btn-md, .btn-group-md > .btn {
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 0px;
	font-family: 'montserratregular';
}
.btn {
    margin-right: 15px;
    border-radius: 0px;
	font-family: 'montserratregular';
}
.btn-sm, .btn-group-sm>.btn {
    border-radius: 0px;
}
a.btn{
    text-transform: uppercase;
    margin-top: 10px;
	font-family: 'montserratregular';
}


.menu{
    color:#fff;
}


.navbar-default {
    margin-top: 15px;
}


.container-fluid {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.our_logo {
    color: #666;
}*/
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent; 
    border-color: transparent;
}
.call_us{
    margin-top: 20px;
    border-left: 1px solid #ddd;
    overflow: hidden;
    padding-left: 15px;
    line-height: 15px;
    font-size: 13px;
}


#our_features{
    padding: 0px 0px 100px 0px;
}	



/* Pricing Section */
#pricing{
    padding: 100px 0px 70px 0px;
}

.pricing_top{
    max-width:500px;
    margin:0 auto;
    padding-bottom:40px;
}
.pricing_top h2{
    color:#0f5f5c;
    font-size:32px;
	font-family: 'robotolight';
}
.pricing_top p{
    color:#83a7a5;
    font-size:14px;
	font-family: 'robotoregular';
}



.pricing_tabel_contant .col-md-4 {
	padding:0
}
.single_pricing{
    border: 1px solid rgba(221, 221, 221, 0.25);
    padding: 30px;
}

.top_text span{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #6fb048;
    padding-bottom: 30px;
	font-family: 'robotomedium';
}
.top_text sub{
    display: block;
    font-size: 3.5rem;
    color: #0f5f5c;
    padding-bottom: 60px;	
	font-family: 'montserratregular';
}
.top_text sup{
    display:block;
    font-size:14px;
    color:#0f5f5c;
}
.single_pricing ul{
    padding-top:20px;
}
.single_pricing ul li{
    font-size: 14px;
    color: #0f5f5c;
    line-height: 30px;
	font-family: 'robotolight';
}




#plans{
    padding-top: 50px;
}
.single_plans{
    padding:35px 0px;
}
.plans_top h2{
    color:#0f5f5c;
    font-size:32px;

}
.single_plans li{
    font-size:14px;
    color:#83a7a5;
    line-height: 30px;
}
.single_plans li i{
    padding-right:15px;
    font-size:16px;
}

/* Healp Section CSS */
#healp{
    padding: 50px 0px 100px 0px;
}
.healp_contant{
    margin:0 auto;
    max-width:500px;
}
#healp i{
    font-size: 40px;
    color: #6fb048;	
}
#healp h2{
    color: #6fb048;
    padding-top: 15px;
}
#healp p{
    font-size:15px;
}

#healp a{
    font-size:18px;
    color:#0f5f5c;
}

/* like Section */

#like{
    background:url(../img/like_bg.png) no-repeat scroll 0 0;
    background-size:cover;
}
.single_like{
    max-width:550px;
    padding:75px 0px;
}

.single_like h2{
    font-size:1.8rem;
    margin-bottom: 0;
    color:#0f5f5c;
}
.single_like p{
    font-size:15px;
    color:#83a7a5;
}
.single_like_btn{
    padding:80px 0px;
    text-align:center;
}

/* Footer Section  CSS */
#footer{
    padding: 100px 0px 20px 0px;
}
.single_footer{
    padding: 0px 0px 80px 0px;
}
.single_footer h2{
    font-size:32px;
    color:#0f5f5c;
	font-family: 'robotomedium';
}
.single_footer li a{
    font-size:13px;
    color:#83a7a5;
}



form.email_sender input[type="text"]{
    position:relative;
}

button[type="submit"]{
    position: absolute;
    right: 21%;
    top: 56%;
    background: transparent;
    border: 0px none;
    padding: 20px;
    color: #6FB048;
    outline: none;
}

button:focus{
    border:transparent;
}

.navbar-form {
    padding: 0px;
    margin:0px;
}

.footer_bottom{
    border-top:1px solid #ddd;
    padding-top:20px;
}

.single_footer_bottom p i{
	padding:0px 10px;
	color:#ff0000;
}
.single_footer_bottom p a{
	padding:0px 10px;
	color:#6fb048;
}
.single_footer_bottom li{
    float: left;
    margin-left: 5px;
}
.single_footer_bottom li a{
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
}
.single_footer_bottom li a i{ 
    padding:10px;
}

#google_map{    
	padding-top: 76px;
    overflow: hidden;
    background-color: #83a7a5 !important;
}
.messsage_contant{
    margin-top:70px;
}



.single_message_left{
    max-width:515px;
    margin:0 auto;
    padding-bottom:100px;
}
.message_top_text{
    padding-top:70px;
}

.message_top_text h2{
    color:#0f5f5c;
    font-size:32px;
}
.message_top_text p.description_p{
    color:#83a7a5;
    font-size:15px;
    max-width:500px;
    margin:0 auto;
}

.single_message_right{
    max-width: 345px;
    border: 2px dashed #ddd;
    padding: 30px;
    margin: 0 auto;
    margin-bottom:50px;
}

.single_message_right h4{
    color:#0f5f5c;
}
.single_message_right p{
    color:#83a7a5;
}
.single_message_right p i{
    color:#6FB048;
    padding-right:10px;
}
.single_message_right p span{
    display: block;
    margin-left: 25px;
}


a.get_stared_btn{
    background: #6FB048;
    color: #fff;
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 10px;
}










