.primera-parte{
    background-image: url(../imagenes_andres/Masthead.jpg);
    padding-bottom: 196px;
}
.navegacion1{
    padding-top: 34px;
    color: #ffffff;
    
}
#navegacion{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#navegacion2{
    background: #dfdfdf9a;
    color:#fff;
    border-radius:2px;
    padding:5px 10px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#bajar{
    padding-top: 20px;
}
.primera-parte h1{
    padding-top: 96px;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: #ffffff;
    padding-bottom: 8px;
}
.primera-parte p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 19px;
    line-height: 24px;
}
.Features{
    padding-top: 80px;
}
.Features h2{
    color: #0F5F5C;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
}
.Features p{
    padding-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #83A7A5;
}
#tamaño-imagenes{
    height: 45.88px;
    width: 45.88px;
}
#el-boton{
    background-color: #6FB048;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    width: 186px;
    height: 50px;
}
#forma-de-texto{
    font-size: 14px;
    color: #83A7A5;
    font-family: 'Roboto', sans-serif;
}
#cartas-fuente{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #83A7A5;
    line-height: 22px;
}
#separacion{
    padding-bottom: 10px;
}
#lineacolor{
    color: #6FB048;
    height: 2px;
}
.seccion-1{
    background-color: #EEF1EC;
}
.seccion-1 h2{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #0F5F5C;
    padding-top: 60px;
}
.seccion-1 p{
    color: #83A7A5;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.persona{
    padding-top: 140px;
    padding-bottom: 140px;
}
.mapa{
    padding-top: 140px;
    background-color: #EEF1EC;
    padding-bottom: 80px;
}
.cosas h2{
    color: #0F5F5C;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    padding-bottom: 12px;
}
.cosas p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #83A7A5;
    line-height: 22px;
}
.cosos p{
    padding-top: 140px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 40px;
    color: #83A7A5;
    font-size: 22px;
}
#nombre-de-persona{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #6FB048;
    padding-top: 0px;
}
#nombre-de-empresa{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 0px;
    font-weight: 500;
    color: #83A7A5;
    padding-top: 0px;
    padding-bottom: 30px;
    }
.cusus h2{
    color: #0F5F5C;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 12px;
}
.cusus p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #83A7A5;
    font-weight: 400;
    line-height: 24px;
}
.precios{
    padding-top: 85px;
}
.precios h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #0F5F5C;
    font-size: 32px;
}
.precios p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #83A7A5;
}
#boton-de-ayuda{
    background-color: #6FB048;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 80%;
    color: #ffffff;
    width: 250px;
    height: 42px;
}
#checkspot{
    color: #83A7A5;
    font-size: 14px;
}
.ayuda{
    padding-bottom: 100px;
}
.ayuda h2{
    color: #6FB048;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
.ayuda h5{
    color: #0F5F5C;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.ayuda p{
    color: #83A7A5;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 65px;

}
.te-gusta-wapik{
    background-image: url(../imagenes_andres/Call.png);
    padding-bottom: 32px;
}
#incluido{
    padding-top: 75px;
}
#cursus{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #83A7A5;
    padding-bottom: 40px;
}
#wapik1{
    padding-top: 30px;
}
#wapik2{
    padding-top: 60px;
}
#los-titulos{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #6FB048;
}
#salva{
font-size: 42px;
    color: #6FB048;
}
#cantidad{
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0F5F5C;
    font-size: 65px;
}
#boton-gris{
    background-color: #83A7A5;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 140px;
    height: 42px;
}
#boton-verde{
    background-color: #6FB048;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 140px;
    height: 42px;
}
.cuadros-extra{
    padding-top: 100px;
    padding-bottom: 49px;
}
#te-gusta{
    color: #0F5F5C;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#cambios{
    height: 100%;
    width: 100%;
}
#prueba{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
#lineanav{
    width: 80%;
}
#cartitas{
    line-height: 28px;
}
#letra-fuerte{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0F5F5C;
}
@media (min-width: 320px) and (max-width: 767px){ 
    .nav-link{
        width: 100%;
        text-align: center;
    }
    #lineanav{
        width: 60%;
        align-items: left;
    }
    .cosos p{
        padding-top: 0%;
    }
    #boton-de-ayuda{
        background-color: #6FB048;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 80%;
        color: #ffffff;
        width: 250px;
        height: 42px;
    }
    #cambios{
        width: 100%;
        height: 100%;
    }
    .primera-parte h1{
        text-align: center;
    }
    .primera-parte p{
        text-align: center;
    }
    #te-gusta{
        text-align: center;
    }
    #tgjr{
        text-align: center;
        padding-top: 20px;
    }
}
@media (min-width: 768px) and (min-width: 1023px){  
    .nav-link{
        padding: .5rem 0rem;
    }
    #lineanav{
        width: 80%;
        align-items: left;
    }
    .cosos p{
        padding-top: 20%;
    }
    .cusus h2{
        padding-top: 0%;
    }
    #cambios{
        width: 100%;
        height: 100%;
    }
}


@media (min-width: 992px){  

}


@media (min-width: 1200px){  
    
}