.btn{
    color: #ffffff;
    background-color: #6FB048;
    font-family: 'Montserrat', sans-serif;
    font-size: 14;
    font-weight: 400;
    height: 50px;
    width: 230px;
    border-radius: 2px;
}
.titulo{
    background-image: url(../imagenes/ciudad.jpg);
    padding-bottom: 150px;
}
.titulo h3{
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
}
#pestañas{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#pestañas1{
    background: #dfdfdf9a;
    color:#fff;
    border-radius:2px;
    padding:5px 10px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.barra-navegacion{
    padding-top: 34px;
    color: #ffffff;
}
#tamaño{
    width: 48px;
    height: 48px;
}
.encuesta{
    background-image: url(../imagenes/call.jpg);
    padding-bottom: 32px;
}
.about-us{
    padding-top: 73px;
}
.about-us p{
    color: #83A7A5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
#ep{
    padding-bottom: 107px;
}
#nombre{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #0F5F5C;
}
#call{
    background-color: #49732F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 75%;
    color: #ffffff;
    width: 255px;
    height: 42px;
}
.equipo{
    background-color: #EEF1EC;
    padding-bottom: 120px;
}
#borde{
    width: 80%;
}
#lado1{
    padding-top: 73px;
}
#lado2{
    padding-top: 100px;
}
#espacio{
    color: #83A7A5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 91px;
}
#formato{
    padding-bottom: 102px;
}
.equipo h2{
    font-family: 'Roboto', sans-serif;
    font-size: 300;
    color: #0F5F5C;
    padding-top: 71px;
}
.equipo p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #83A7A5;
}
#izquierdo{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 28px;
}
.encuesta p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
}
#negro{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0F5F5C;
    font-size: 13px;  
}
.info{
    padding-top: 100px;
}
.info p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #83A7A5;
    font-size: 13px;  
}
.redes-sociales{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #83A7A5;
    font-size: 13px;      
}
#separador{
    color: #6FB048;
    height: 2px;
}
.about-us h2{
    font-family: 'Roboto', sans-serif;
    font-size: 300;
    color: #0F5F5C;
}
@media (min-width: 320px) and (max-width: 767px){ 
    .nav-link{
        width: 100%;
        text-align: center;
    }
    #borde{
        width: 60%;
        align-items: left;
    }
    .cosos p{
        padding-top: 0%;
    }
    #call{

        font-size: 50%;
        
        width: 200px;
        height: 42px;
    }
}
@media (min-width: 768px) and (min-width: 1023px){  
    .nav-link{
        padding: .5rem 0rem;
    }
    #borde{
        width: 90%;
        align-items: left;
    }
    #call{

    }
}